<h2 class="page-header"></h2>
<div class="row">
	<div class="col-md-3" id="left-player-col">
		Your current info
		
		<ul>
			<li><strong>Email:</strong> <%= current_user.email%></li>
			<li><strong>Name:</strong> Coach <%= current_user.last_name %></li>
		</ul>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#learn_coach" data-toggle="tab"> Learn</li></a>
			<li><a href="#change_contact" data-toggle="tab"> Change Password/Email </li></a>
			<li><a href="#schedule_listing" data-toggle="tab">Subscription </li></a>
		</ul>
		<div class="tab-content" >
			<div class="tab-pane active" id="learn_coach">
				<div class="row">
					<div class="colo-md-4">
						<h2>How do I..</h2>
						
						<h4><a data-toggle="collapse" href="#collapseHelpAddVid">Track a player.</a></h4>
						 <div id="collapseHelpAddVid" class="collapse">						   
							 <br>
							 (click on video to pause and play)
							 <br>
							 <h4>1 way</h4>
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/4qs4u5riyu" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> 
								<li>Add players to your watch list to keep track of their highlight videos and game schedules.</li>
								<li>Click 'Add your First player' from your dashboard under the 'All my favorites tab'.</li>
								<li>Search or scroll to a player and click add favorite next to the heart icon.</li>
								<li>You'll be asked to confirm this choice and once you confirm, the player will be imeediately added to your watchlist on your dashboard page.</li>
					 		</ol>
							<h4>A 2nd way</h4>
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/mm9lhkhchj" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> 
								<li>Click 'Add your First player' from your dashboard under the 'All my favorites tab'.</li>
								<li>Scroll or search and click on a players picture to view their full profile.</li>
								<li>Here you can view their highlights and game schedule.</li>
								<li>If you like what you see, click the "Add favorite" button on the left to keep track of this player in your dashbaord. </li>
					 		</ol>
						 </div>
 						<h4><a data-toggle="collapse" href="#collapseHelpDownloadSchedule">Download a game schedule.</a></h4>
 						 <div id="collapseHelpDownloadSchedule" class="collapse">						   
							 <br>
 							 (click on video to pause and play)
							 <br>
							 <h4>1 option</h4>
 							 <iframe class="well" src="//fast.wistia.net/embed/iframe/9eb5j9nyi3" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
 					 		<ol> 
 								<li>Click on a players picture to view their profile page.</li>
								<li>Click on the "Next games" tab to view their complete schedule.</li>
								<li>Click the "Download my schedule" link just below the tabs.</li>
								<li>Now in your downloads you'll have a CSV file with the players schedule to add to your own systems.</li>
 					 		</ol>
						 <br>
							 (click on video to pause and play)
						 <br>
						 <h4>Another option</h4>
							<iframe class="well" src="//fast.wistia.net/embed/iframe/9eb5j9nyi3" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
 					 		<ol> 
 								<li>If you "Favorite" a player, their game schedule is automatically added to your dashboard.</li>
								<li>Click on the "All favorites upcoming games" tab to view all your favorites upcoming games chronologically ordered.</li>
								<li>Click the "Download this entire schedule" link just below the tabs.</li>
								<li>Now in your downloads, you'll have a CSV file with all the players marked as favorites' schedule to add to your own systems.</li>
 					 		</ol>
 						 </div>
  						<h4><a data-toggle="collapse" href="#collapseHelpContactCoach">Contact a player's coach.</a></h4>
  						 <div id="collapseHelpContactCoach" class="collapse">						   
 							 <br>
  							 (click on video to pause and play)
 							 <br>
  							 <iframe class="well" src="//fast.wistia.net/embed/iframe/ywzrsv0kwf" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
  					 		<ol> 
  								<li>Click on a players picture to view their profile page.</li>
								<li>Click on the "(Player's name) Coach" tab.</li>
								<li>Write whatever you would like to say to that players coach.</li>
								<li>Then click "send this message."</li>
								<li>You'll get confirmation that the email was sent and a copy of what the club coach will read.</li>
								<li>See the video and press pause at the end to see an example.</li>
								<li>This is great to inquire further about a player and IS NOT in violation of any NCAA rules because you are contacting the club coach not the actual player.</li>
								<li>This message is routed through the 54footy mailing system then forwarded to the club coach to respond.</li>
  					 		</ol>
  						 </div>
					</div>
					
				</div>
			</div>
			<div class="tab-pane" id="change_contact">
				<div class="row">
					<div class="col-md-4">
					 <%= render 'change_info' %>				  
				    </div>
			    </div>
			</div>	
			<div class="tab-pane" id="schedule_listing">
				<div class="row">
					<div class="col-md-4">
						<br>
						<br>
						<i>nothing to see here :)</i>
					</div>					
			    </div>
			</div>
		</div>
    </div>
</div>
