<h2 class="page-header"></h2>
<div class="row">
	<div class="col-md-3" id="left-player-col">
		Your current info
		
		<ul>
			<li><strong>Email:</strong> <%= current_user.email%></li>
			<li><strong>Name:</strong> Coach <%= current_user.last_name %></li>
		</ul>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#change_contact" data-toggle="tab"> Change Password/Email </li></a>
			<li><a href="#schedule_listing" data-toggle="tab">Subscription </li></a>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="change_contact">
				<div class="row">
					<div class="col-md-4">
					 <%= render 'change_info' %>				  
				    </div>
			    </div>
			</div>	
			<div class="tab-pane" id="schedule_listing">
				<div class="row">
					<div class="col-md-4">
						<br>
						<br>
						<i>nothing to see here :)</i>
					</div>					
			    </div>
			</div>
		</div>
    </div>
</div>
