<div>
	<% @games.each do |game| %>
	<li><%= game.scheduled_date.strftime("%m/%d/%Y") %></li>
		<li><%= game.location %></li>
		<li><%= game.scheduled_time %></li>
		<li><%= game.opponent %></li>
		<p>------------</p>
	<% end %>
</div>