<br>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info">
		<p>Who cares if you had 1 bad game out of 100? Show off the other 99! - <%= link_to 'Add my first video <i class="fa fa-long-arrow-right"></i>'.html_safe, new_listing_path %>	
		</div>
	</div>
	<div class="col-md-7">
		<h4>How do I add a video?</h4>

	</div>
</div>