<br>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info">
		<p>Get a massive jump on keeping track of who you want to see more of here and build your next and future recruiting classes - <%= link_to 'Add your first player <i class="fa fa-long-arrow-right"></i>'.html_safe, club_players_path %></p>
		</div>
	</div>
	<div class="col-md-7">
		<%= link_to "How do I track a player?", edit_college_coach_registration_path %>
	</div>
</div>