<br>
<div class="row">
	<div class="col-md-9">
		<div class="alert alert-info">
		<p>Get a massive jump on keeping track of who you want to see more of here and build your next and future recruiting classes - <%= link_to 'Add your first player to your watchlist <i class="fa fa-long-arrow-right"></i>'.html_safe, club_players_path, class: "btn btn-link btn-lg" %></p>
		</div>
	</div>
	<div class="col-md-7">
		<a href="//fast.wistia.net/embed/iframe/mm9lhkhchj?popover=true" class="wistia-popover[height=450,playerColor=069750,width=800]">How do I add a player to my watchlist?</a>
		<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
	</div>
</div>