<div class="alert alert-info">
<p>Get a massive jump on keeping track of who you want to see more of here and build your next and future recruiting classes - <%= link_to "Add your first player", club_players_path %>
</div>