<br>
<div class="alert alert-info">
<p>Who cares if you had 1 bad game out of 100? Show off the other 99! - <%= link_to "Add my first video", new_listing_path %>
	
</div>
<p>Add a 1.2.3 of how to add video</p>