<br>
<%= link_to "Add new video", new_listing_path, class: "btn btn-success btn-lg" %>
<br>
<br>
<ul style="list-style:none;">
	<% @listings.each do |listing| %>
	<div class="col-md-2 col-sm-4 col-xs-6" style="margin-left: 10px;">
		<li><img class="dash-thumb" src="http://i1.ytimg.com/vi/<%=youtube_thumb_embed(listing.video)%>/mqdefault.jpg"></li>
		<li><%= listing.description %> </li>
		<li><%= link_to "Remove", listing, method: :delete, data:{confirm: "This cannot be undone"} if current_club_player == listing.club_player %></li>
	</div>
	<% end %>
</ul>
