<div class="row" style="margin-top:50px;">
	<div class="col-md-offset-1 col-md-10 well">
		<h2 class="col-md-offset-1">Give yourself the best chance to be seen by college coaches</h2>
		<div class="row">
			
			<div class="col-md-1">
				<img src="http://placehold.it/75x75">
			</div>
			<div class="col-md-11">
				<p>Hopefully, you have been getting your best footage in front of all your dream schools. Now you can upgrade your account and show off even more footage and track how many clicks you get when sending out your profile to coaches. Upgrade your account to get full access immediately. </p>
			</div>
					
		</div>

	</div>
</div>

<div class="row">
	<h3 style="text-align:center; color:#980300;">Connect with the perfect fit for your career after the club level for the next 4 years</h3>
	<br>
	<div class="col-md-upgrade-custom col-md-2 well-other-soccer-expenses">
		<h5><strong>1 plane ticket<br> to Surf Cup</strong></h5>
		<i style="padding-top:4px;font-size: 5.25em;" class="fa fa-plane"></i>
		<p>$185.00</p>
	</div>
	<div class="col-md-offset-1  col-md-3 well-upgrade">		
			<h4><strong><i class="fa fa-check"></i>unlimited videos</strong></h4>
			<h4><strong><i class="fa fa-check"></i> profile link tracking</strong> </h4>
		<hr>
		<p>Only $170/year</p>
		<%= link_to "Upgrade My Account", new_charge_path, class: "btn btn-lg btn-block btn-success" %>
		<br>		
	</div>
	<div class="col-md-offset-1 col-md-2 well-other-soccer-expenses">
		<h5><strong>1 pair of boots<br> for the season</strong></h5>
		<img style="height:80px;width:80px;" ref="boots" src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/soccer38.png">
		<p>$220.00</p>
	</div>
</div>