<div class="col-md-10 col-md-offset-1 row well" style="margin-top:50px;">	
		<div class="col-md-1">
			<img alt="54footy logo" class="upgrade-logo" src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/iron-canary-small.png">
		</div>
		<div class="col-md-9 col-md-offset-1">
			<div style="text-align:center;">
			  <h2>Show off to any coach in the world</h2>
		    </div>
			<p>Hopefully, you have been getting your best footage in front of all your dream schools. Now, show off even more footage and track how many clicks you get when sending out your profile to coaches. Upgrade your account to get full access immediately. </p>
		</div>					
	</div>
</div>

<div class="row">
	<h3 style="text-align:center; color:#980300;">Connect with the perfect fit for your career after the club level for the next 4 years</h3>
	<br>
	<div class="col-md-upgrade-custom col-md-2 well-other-soccer-expenses">
		<h5><strong>1 plane ticket<br> to Surf Cup</strong></h5>
		<i style="padding-top:4px;font-size: 5.25em;" class="fa fa-plane"></i>
		<p>$185.00</p>
	</div>
	<div class="col-md-offset-1  col-md-3 well-upgrade">		
			<h4><strong><i class="fa fa-check"></i>unlimited videos</strong></h4>
			<h4><strong><i class="fa fa-check"></i> profile link tracking</strong> </h4>
		<hr>
		<p>Right now only <strong>$170/year</strong></p>
		<p>Regular <span style="text-decoration:line-through;">$200/year</span></p>
		<%= link_to "Upgrade My Account", new_charge_path, class: "btn btn-lg btn-block btn-success" %>
		<br>		
	</div>
	<div class="col-md-offset-1 col-md-2 well-other-soccer-expenses">
		<h5><strong>1 pair of boots<br> for the season</strong></h5>
		<img style="height:80px;width:80px;" ref="boots" src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/soccer38.png">
		<p>$220.00</p>
	</div>
</div>