<br>
<div class="row">
	<div class="col-md-5">
		<%= form_tag send_coach_email_path, method: :put do %>
			<div class="form-group">
			<%= label_tag :message %>
 			  <%= text_area_tag :message, nil, class: "form-control contact-coach-email" %>
		    </div>
	
			<%= submit_tag "Send this message", class: "btn btn-block btn-success" %>
		<% end %>
	</div>
	
</div>
<div class="row">
	<div class="col-md-5">
		<hr>
	</div>	
</div>

<div class="row">
	<div class="col-md-5">
		<a data-toggle="collapse" href="#collapseMsgExplainer">What does this do and where does it go?</a>
		<br><br>
		<div class="alert alert-info fade collapse" id="collapseMsgExplainer" role="alert">
		      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		      <h4>What's sending a message?</h4>
		      <p>Good question. This is a way to learn more about a player without actually contacting them.
			  The message you send above is sent to 54footy.com mail servers then routed to the club players coach with your
			  question and/or message. <p>You'll receive a copy of the email and the club coach will be given the
			  email you signed up with to contact you and answer your question. Simple.</p>
			  </p>
			  <p>
			  	<i>note: once you contact a club coach he may very well let this player or parents know.</i>
			  </p>
		</div>
	</div>
</div>

