
	<% @listings.each do |listing| %>
		<div class="col-md-3 col-sm-5 col-xs-5 card-wrapper tab-element">
			    <div class="center-it">
				<%= image_tag "http://i1.ytimg.com/vi/#{youtube_thumb_embed(listing.video)}/mqdefault.jpg", class: " image-size-prof" %>
			    </div>
				<br>
				<p><%= listing.description %></p>
				<br>
				<div class="center-it">
					<%= link_to "Watch This Video", listing.video, {class: "btn btn-sm btn-info fancybox-media "} %>
			    </div>
				<br>
		</div>	
	<% end %>

