<%= render "profiles/profile_layouts/signup_modal" %>
<%= render "profiles/profile_layouts/search_player" %>
<br>
<hr>
<div id="player-profiles" class="card-row row">
	<%= render "profiles/profile_layouts/carousel_profiles" %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
