<% if @success %>
  $('.alert').html('<div class="alert alert-success" role="alert"> <%="#{@friend.first_name} is now on your favorites list" %> </div>')
  $('#player_' + '<%= @friend.id %>').remove();
  $('#confirm-dialog').modal('hide')
<% else %>
  $('.alert').html('<div class="alert alert-warning" role="alert"> Some thing went wrong. Please try again!. </div>')
<% end %>
