<h1>Add new video</h1>
<a href="//fast.wistia.net/embed/iframe/3e68l8x5b8?popover=true" class="wistia-popover[height=450,playerColor=069750,width=800]">How do I add a video?</a> | <small><%= link_to "more help", edit_club_player_registration_path %></small>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
<hr>
<div class="row">
	<div class="col-md-5">
		<%= render 'form' %>
	</div>
</div>

<small><%= link_to 'Back to dashboard', dashboard_path %></small>
