<p>Coach <%= @college_coach.last_name %> has shown interest in <%= @club_player %></p>

<p>I'm forwarding you the message and here is what he had to say. </p>

<p>"<%= @message %>"</p>

<p>and here is their contact information to follow up with this information.</p>

<p><%= @college_coach.email %></p>

<p>Any questions just let me know. </p>

tony@54footy.com