<div id="confirm-dialog" class="modal">
	 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
           <h3>Add player to your Watch List?</h3>
        </div>
        <div class="modal-body">
           <p> Are you sure? You want to add <span class='player_name'></span>  to your Watch List?"   </p>
        </div>
        <div class="modal-footer">
           <%= link_to 'Yeah Do it!', '#', "data-url" => '#', class: "btn btn-success btn-sm confirm" %>
         
           <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary btn-danger btn-sm">Oops Nevermind</a>
        </div>
      </div>
   </div>
</div>
