<div class="row">
  <h3>Search by position</h3>
  <div class="col-md-5">
    <%= search_form_for @search do |f| %>
	    <div class="input-group">
			
	      <span class="input-group-btn">
			<%= f.submit "search", class: 'btn btn-success actions' %>
			<%= f.submit "reset", id: 'q_clear', class: 'btn btn-warning actions' %>				    
	      </span>
		  <%= f.text_field :position_cont, class: 'form-control search-field', placeholder: "e.g. striker, defender, midfielder" %>
	    </div>
	<% end %>	
  </div>
</div>