<div class="row">
	<div class="col-md-6 col-md-offset-3 well-forms">
		<div class="row">
			<div class="col-md-4">
		      <img src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/iron-canary-small.png" />
	        </div>
			<div class="col-md-8">
				<br>
				<br>
		  	  <h1>About 54footy</h1>
	  		</div>
	    </div>
		<hr>
		<p>Ever had a not so great game? Ever had a not so great game when somebody really important was watching your every move, for only fifteen minutes with a clipboard and you rolled your ankle early in the week when you were getting some extra fitness in to get ready for this weekend's game?</p>
		<br>
		<p>Well, yes it happens. But the point is your entire 4 year college career shouldn't come down to one not so great game on the wrong weekend. EVERYONE has off games. Yes, even Aaron Ramsey. </p>
		<br>
		<p>We believe there is a great fit for every deserving club player at the collegiate level and to not find the right school simply because a coach couldn't make it to your game on the east coast or because you only had 5 touches when your dream school coach watched your game for 15 minutes just doesn't make any sense.</p>
		<br>
		<p>Our players:
			<ul>
				<li>Get more exposure to their favorite schools.</li>
				<li>Get more official visit invites.</li>
				<li>Discover great schools they didn't know about, that are interested in them.</li>
			</ul>			
		</p>
		<p> Show your favorite schools the real player you are and give yourself a better chance of being seen. You've put in the work for the last 14+ years every single week, make the next 4 years count.
		</p>
		<br>
	    <%= link_to "Get Started", new_club_player_registration_path,class: "btn btn-success btn-lg btn-block"  %>
		<h1>Contact Us</h1>
		<p>Got a question? Need help with something? <a href="mailto:tony@54footy.com">Email us</a></p>
	</div>
</div>

