<div class="row">
	
	<div class="col-md-8 col-md-offset-2 well">
		<h1>Terms and conditions</h1>
		<p>
			Thanks for checking out 54footy, and thanks for accessing the web app. The services available on and through this website (the “Services” and the “Site”) are provided by the current domain holder of 54footy which is currently LLC pending. Any references herein this document to 54footy are on behalf of the current domain owner.
		</p>
		
		<p>
			Your use of the Services is governed by these terms and conditions (this “Agreement”). By using the Services, you agree to be bound by this Agreement, whether you are a visitor, which means that you simply browse the Site or any of its applications, or you are a user with a registered account. 54footy may modify this Agreement from time to time and such modification shall be effective once posted to the Site. You agree to be bound to any changes to this Agreement when you use the Services after any modification to this Agreement has been posted. It is therefore important that you review this Agreement regularly to ensure you are updated as to any changes.
			
		</p>
		<p>
			The term “User” refers to any visitor or registered user of the Services, unless provided otherwise. You are only authorized to use the Services if you agree to abide by all applicable laws and to this Agreement. Please read this Agreement carefully and save it. If you do not agree with it, you should leave the Site or any of its applications and discontinue use of the Services immediately. If you wish to become a registered User, communicate with other Users, and make full use of the Services, you must read this Agreement and indicate your acceptance during the registration process.
			
		</p>
		<p>
			PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED.
			
		</p>
		<h2>1. ELIGIBILITY.</h2>
		<p>
			Use of Services is void where prohibited. By using the Services, you represent to us that (a) any registration information you submit is truthful and accurate; (b) you are 13 years of age or older; and (c) your use of the Services does not violate any applicable law or regulation. Your profile may be deleted and your use of the Services and Site may be terminated without warning or notification to you, if we believe that you are under 13 years of age.
			
		</p>
		<h2>2. REGISTRATION.</h2>
		<p>When you sign up to become a User, you will also be asked to create a password. You are entirely responsible for maintaining the confidentiality of your password. You agree not to use the account, username, or password of another User at any time or disclose your password to any third party. You agree to notify us immediately if you suspect any unauthorized use of your account or access to your password. You are solely responsible for any and all uses of your account.
</p>
		<p>
			In order to participate in certain Services, you may be notified that you are required to download software or content and/or agree to additional terms and conditions. Any such additional terms are hereby incorporated by reference into this Agreement.
		</p>
		<h2>3. LIMITED LICENSE.</h2>
		<p>
			54footy authorizes you to copy materials on this Site to your hard drive solely for the purpose of viewing and using the Services on your computer. You may not sell or modify the material or reproduce, republish, display, publicly perform, distribute, or otherwise use the material in any way for any public or commercial purpose. Unauthorized use of the Services for any other purpose is prohibited. You may not decompile, reverse engineer, disassemble, rent, lease, loan, sell, use with malicious intent, sublicense, or create derivative works from the Site or the Services. Nor may you use any network monitoring or discovery software to determine the site architecture, or extract information about usage or users. You may not use any robot, spider, other automatic device, or manual process to monitor or copy our Site or its content without our prior written permission.
						
		</p>
		<h2>4. USER CONTENT.</h2>
		<p>
			54footy does not claim any ownership rights in the text, files, images, photos, video, sounds, musical works, works of authorship, or any other materials (collectively, “Content”) that you post or upload to the Site and/or through the Services (“User Generated Content”). After posting or uploading your User Generated Content to the Site and/or through the Services, you continue to retain all your ownership rights in such User Generated Content.
		</p>
		<p>
			You are solely responsible for any third party Content in your User Generated Content and for the use of the User Generated Content, including on our Site and through the Services. We reserve the right to remove such content or your User Generated Content if required by such third parties.
		</p>
		<p>
			In addition, the Site and/or Services may contain sporting event Content, under license to 54footy from one or more third parties, in which User is featured and/or visible (“User Featured Content”) (together, with User Generated Content, “User Content”).
			
		</p>
		<p>
			You grant us and our licensees, distributors, agents, independent contractors, representatives and other authorized users (collectively, the “54footy Entities”), a perpetual, non-exclusive, irrevocable, royalty-free, sub-licensable and transferable (in whole or part) worldwide license under all copyrights, trademarks, patents, trade secrets, privacy and publicity rights and other intellectual property rights you own or control to use, reproduce, transmit, display, exhibit, distribute, index, comment on, modify, create derivative works based upon, perform and otherwise exploit such User Content, in whole or in part, in all media formats and channels now known or hereafter devised (including on 54footy Sites, on third party web sites, cable networks and stations, broadband and wireless platforms, products and services) for any and all purposes including entertainment, news, advertising, promotional, marketing, publicity, trade or commercial purposes, all without further notice to you, with or without attribution, and without the requirement of any permission from or payment to you or to any other person or entity (the “Content License”). You appoint us as your agent with full power to enter into and execute any document and/or do any act we may consider appropriate to confirm, fully utilize, or enforce the grant of rights, consents, agreements, assignments and waivers set forth in this Agreement.
		</p>
		<p>
			You represent to us that:
		</p>
		<ul>
			<li>(i) you own the User Generated Content posted by you or otherwise have the legal right to post the User Generated Content,</li>
			<li>(ii) the posting of your User Generated Content on or through the Services does not violate the privacy rights, publicity rights, intellectual property rights (copyrights, patents, trademarks), contract rights or any other rights of any person or entity, and</li>
			<li>(iii) you have provided your consent to the use of User Featured Content to your school and/or applicable athletic organization from which 54footy has obtained, directly or indirectly, such User Feature Content. To the extent that any of the User Content on the Site and/or Services features a child of User under the age of 18, User is deemed to have consented to the Content License on such child’s behalf and the foregoing representations with regard to such Content, and such child shall also be deemed to be a User for purposes of this Agreement. To the extent any “moral rights,” “ancillary rights,” or similar rights in or to the User Content exist and are not exclusively owned by us, you agree not to enforce any such rights as to us or the 54footy Entities, and you shall procure the same agreement not to enforce from any others who may possess such rights. You agree to pay for all royalties, fees, and any other monies owing to any person or entity by reason of any User Content posted by you to or through the Services.</li>
		</ul>
		<h2>5. INFRINGING CONTENT; DIGITAL MILLENNIUM COPYRIGHT ACT</h2>
		<p>We reserve the right to remove any User Content that is alleged to infringe the copyright of a third party or otherwise violates your rights and/or to suspend or terminate a User’s access privileges in the event of repeat infringement by a User.</p>
		<p>If you are a copyright owner or authorized agent and believe that your work has been copied and posted on the Services in a way that constitutes copyright infringement, or if you believe that your rights have otherwise been violated by the Services, you may submit a notification pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
</p>
	 <ul>
	 	<li>(i) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest or the person whose rights have been violated;</li>
		<li>(ii) a description of the copyrighted work that you claim has been infringed or the particular rights violated;</li>
		<li>(iii) if applicable, a description of where the material that you claim is infringing is located on the Site;</li>
		<li>(iv) your address, telephone number, and email address;</li>
		<li>(v) a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law or with regard to the rights violated; and</li>
		<li>(vi) a statement by you, made under penalty of perjury, that the above information in your notice is accurate.</li>
   	 <p>
   	 	Contact tony@54footy.com for any abuse .If you believe that your User Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner’s agent, or pursuant to the law, to post and use the material in your User Content, you may send a counter-notice pursuant to the DCMA containing the following information to the Copyright Agent:
   	 </p>
	 <li> (i) your physical or electronic signature;</li>
	 <li>(ii) Identification of the User Content that has been removed or to which access has been disabled and the location at which the User Content appeared before it was removed or disabled;</li>
	 <li>(iii) a statement that you have a good faith belief that the User Content was removed or disabled as a result of mistake or a misidentification of the User Content; and</li>
	 <li>(iv) your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in California, and a statement that you will accept service of process from the person who provided notification of the alleged infringement. If a counter-notice is received by the Copyright Agent, 54footy may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed User Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the User Content provider, member or user, the removed User Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at our sole discretion.</li>
		
	 </ul>
	 <h2>6. OTHER INTELLECTUAL PROPERTY.</h2>
	 <p>The Site and the Services, as well as certain Content available therein (together, “54footy Intellectual Property”), are protected by copyright, trademark, patent, trade secret and other intellectual property laws in the United States and other countries, and 54footy owns and retains all such rights in the 54footy Intellectual Property. 54footy hereby grants you a limited, revocable, non-sublicensable license to reproduce and display the 54footy Intellectual Property solely for your personal use in connection with viewing the Site and using the Services. You may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any 54footy Intellectual Property appearing on the Site or through the Services.
</p>
	<p>Without limiting the foregoing, 54footy, associated products, the 54footy logo, are trademarks of 54footy, protected under international law, the laws of the United States and other countries. Other parties’ trademarks used, depicted or identified on this Site are the property of their respective owners, used here by permission, and may be registered in one or more countries. Use on this Site of the trademark(s) (including, but not limited to, names and logos) of any other party is not intended to imply 54footy’s affiliation with or endorsement of that party, or that party’s sponsorship or endorsement of 54footy and their products or services.</p>
	
	<h2>7. USER CONDUCT.</h2>
	<p>Your right to use the Services is conditioned on your compliance with this section. You agree not to post on this Site or through the Services, User Content that is:</p>
	<ul>
		<li>patently offensive and promotes racism, bigotry, hatred or physical harm of any kind against any group or individual; harasses or advocates harassment of another person or group; exploits people in a sexual or violent manner; or contains nudity, violence, or offensive subject matter or contains a link to an adult website or user injected scripting malicious or otherwise;</li>
		<li>solicits personal information from any User; provides any User telephone numbers, street addresses, last names, URLs or email addresses; involves the transmission of “junk mail,” “chain letters,” or “unsolicited mass mailing”, “instant messaging”, “phishing”, “spimming” or “spamming”; contains restricted or password only access pages or hidden pages or images (those not linked to or from another accessible page);</li>
		<li>promotes information that you know is false or misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous; promotes an illegal or unauthorized copy of another person’s copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or video or links to pirated files;</li>
		<li>furthers or promotes any criminal activity or enterprise or provides instructional information about illegal activities including, but not limited to making or buying illegal weapons, violating someone’s privacy, or providing or creating computer viruses; and</li>
		<li>involves commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes.</li>
		<p>Further, you agree not to use the Services to participate in:
</p>
		<li>criminal or tortious activity, including child pornography,pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, spimming, sending of viruses or other harmful files, copyright infringement, patent infringement, or theft of trade secrets or violation of the privacy or publicity rights of third parties;</li>
		<li>advertising to, or solicitation of, any User to buy or sell any products or services through the Services. You may not transmit any chain letters or junk email to other Users. It is also a violation of these rules to use any information obtained from the Services in order to contact, advertise to, solicit, or sell to any User without their prior explicit consent. In order to protect our Users from such advertising or solicitation, 54footy54footy reserves the right to restrict the number of emails that a User may send to other Users;</li>
		</ul>
		<p>You agree not to cover or obscure any advertisements on the Site, or interfere with, disrupt, or create an undue burden on the Services or the networks or services connected to the Services. You agree not to attempt to impersonate another User, and you acknowledge that the Services are for public and not private communications and that you have no expectation of privacy with regard to any User Content. We cannot guarantee the security of any information you disclose; you make such disclosures at your own risk. Also, you should be skeptical about information provided by others, and you acknowledge that the use of any User Content on this Site is at your own risk.</p>
		<p>If you become aware of misuse of the Services by any person, please contact Tony tony@54footy.com. 54footy reserves the right, in its sole discretion, to reject, refuse to post or remove any posting (including private messages) by you, or to restrict, suspend, or terminate your access to all or any part of the Services at any time, for any or no reason, with or without prior notice, and without liability.</p>
		<p>You agree to indemnify and hold 54footy, the 54footy Entities, and their subsidiaries, and affiliates, and their respective officers, agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of the Site and Services in violation of this Agreement and/or arising from a breach of this Agreement and/or any breach of your representations and warranties set forth above and/or if any User Content posted on the Site or through the Services causes 54footy to be liable to another third party or User.</p>
		<h2>8. PAYMENT.</h2>
		<p>You acknowledge and understand that payment for premium 54footy services will be given to the current domain holder of 54footy.com. As, the owner is in the pricess of setting up a legal entity payment will be considered given to a sole propritorship or indivudal developer. Similar to that of Apple App store payments to individual developers.</p>
		<h2>9. PRIVACY.</h2>
		<p>You agree to the terms of the 54footy Privacy Policy, as it may be updated from time to time, a copy of which is posted on the Site.</p>
		<h2>10. LINKS TO OTHER SITES.</h2>
		<p>The Site contains links to web sites not operated or maintained by 54footy. These links are provided solely as a convenience to you and not as an endorsement by 54footy of the contents of such third party web sites. 54footy is not responsible for the content of the sites of others and makes no representation regarding the content or accuracy of materials on such sites. If you decide to access linked third-party web sites, you do so at your own risk, and waive any and all claims against 54footy regarding the inclusion of links to outside web sites or your use of those web sites.</p>
		<h2>11. DISCLAIMERS.</h2>
		<p>DISCLAIMERS OF WARRANTIES: 54FOOTY DOES NOT WARRANT THAT THE SITE OR SERVICES WILL OPERATE ERROR-FREE OR THAT THIS SITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES AND/OR OTHER HARMFUL MATERIALS. IF YOUR USE OF THE SITE OR THE SERVICES RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, 54FOOTY IS NOT RESPONSIBLE FOR THOSE COSTS. THE SITE AND SERVICES ARE PROVIDED ON AN “AS IS” BASIS WITHOUT ANY WARRANTIES OF ANY KIND. 54FOOTY, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES RIGHTS, AND THE WARRANTY OF FITNESS FOR PARTICULAR PURPOSE. 54FOOTY MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE SERVICES.</p>
		<p>DISCLAIMER OF CONSEQUENTIAL DAMAGES: EXCEPT AS OTHERWISE REQUIRED BY APPLICABLE LAW, NEITHER 54FOOTY NOR THE 54FOOTY ENTITIES OR THEIR DIRECTORS, EMPLOYEES, LICENSORS, CONTENT PROVIDERS, AFFILIATES OR OTHER REPRESENTATIVES WILL BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL AND EXEMPLARY DAMAGES, ARISING FROM THE USE OF THIS SITE AND SERVICES, EVEN IF THE PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
		<p>REMEDY: IF YOU ARE DISSATISFIED WITH THE SERVICES, YOUR EXCLUSIVE REMEDY SHALL BE TO CEASE USING THE SERVICES</p>
		<p>Some U.S. states and foreign countries do not permit the exclusion or limitation of implied warranties or liability for certain categories of damages. Therefore, some or all of the limitations above may not apply to you to the extent they are prohibited or superseded by state or national provisions. 54footy makes no representation of any kind with respect to the applicability and enforceability of laws or policies of countries other than the United States over the content of this site and the provisions of this Agreement.</p>
		<h2>11. DISPUTE RESOLUTION.</h2>
		<p>This Agreement shall be interpreted, construed and governed by the laws of the State of California, USA, without reference to its laws relating to conflicts of law and not including the provisions of the 1980 United Nations Convention on Contracts for the International Sale of Goods. Venue for all disputes arising under this Agreement shall lie exclusively in the District Courts of the State of California in Sacramento County or the Federal District Court of the District of California (as permitted by law) and each party agrees not to contest the personal jurisdiction of these courts. Notwithstanding the foregoing, however, 54footy shall have the right to commence and prosecute any legal or equitable action or proceeding before any non-U.S. court of competent jurisdiction to obtain injunctive or other relief.</p>
		<p>Should any clause of this Agreement be found unenforceable, wherever possible this will not affect any other clause and each will remain in full force and effect. 54footy’s failure to expressly enforce any provision of this Agreement does not waive its rights to enforce that or any other provision.</p>
		<p>This Agreement constitutes the entire agreement between you and 54footy regarding the use of the Services.</p>	
 </div>

</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 well">
		<h1>Privacy Policy</h1>
		<p>
			This Privacy Policy applies only to the web sites owned (however accessed and/or used, whether via personal computers, mobile devices, or otherwise) or controlled by 54footy pending legal entity llc(“54footy,” “we,” “our” or “us”) or other interactive features that are accessible or downloadable through the web sites owned or controlled by the 54footy domain holder and that post a link to this Privacy Policy (collectively, the “Web Sites”). The purpose of this Privacy Policy is to disclose to you what information we may collect on the Web Sites, how we may collect it, with whom we may share it, and certain other matters related to such information, including the choices you may have regarding our collection, use, and disclosure of such information.
		</p>
		<p>
			We may receive and store certain types of web site usage information whenever you visit or interact with the Web Sites. For example, we may collect the page served, the time, the source of the request, the type of browser making the request, the preceding page view, other similar information and your IP address. We also may collect your IP address or some other unique identifier for the particular device you use to access the Internet, as applicable (collectively referred to herein as a “Device Identifier”). A Device Identifier is a number that is automatically assigned to your computer, your cell phone, or other device used to access the Internet, and our computers identify your device by its Device Identifier. We may associate your Device Identifier with the personal information you provide. When analyzed, web site usage information helps us determine how visitors arrive at the Web Sites, what type of content is most popular, and what type of visitors are interested in particular kinds of content and advertising.
		</p>
		<p>We may also collect the email addresses of those who communicate with us via email, aggregate information on what pages members access or visit, and information volunteered by the member (such as survey information and/or site registrations). The information we collect is used to improve the content of our website pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:
		</p>
		<ul>
			<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
			<li>We transfer information about you if 54footy is acquired by or merged with another company. In this event, 54footy will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
			<li>We share information with our partners, licensees, agents, representatives, distributors, independent contractors and/or any authorized third party.</li>
		</ul>
		<h2>1. INFORMATION GATHERING AND USAGE.</h2>
		<p>When you register for 54footy we ask for information such as your name, email gender, club team, position. 54footy Sports uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact and research.
Selecting “Remember Me” option is not recommended for public computers.</p>
		<h2>2. COOKIES AND WEB BEACONS.</h2>
		<p>Cookies</p>
		<p>
A cookie is a small amount of data which often includes an anonymous unique identifier that is sent to your browser from a website’s computers and stored on your computer’s hard drive.</p>

		<p>Cookies are required to use the 54footy website. We use cookies to record current session information, but do not use permanent cookies. You are required to login to your 54footy member account after a certain period of time has elapsed to protect you against others accidentally accessing your account.</p>
		<p>Web Beacons</p>
		<p>
			The Web Sites and any communications sent by the Web Sites may contain electronic images (generally, single-pixel “.gif” images) called “web beacons.” These web beacons allow 54footy and third parties to monitor and collect certain information about the viewer of the web page, web-based document, e-mail message or other communication, such as the type of browser requesting the web beacon, the Device Identifier of the device that the web beacon is sent to and the time the web beacon was viewed. 54footy use of web beacons on its Web Sites, include, without limitation, the following:
		</p>
		<ul>
			<li>counting unique users (actually, unique web browsers), visits and page views.</li>
			<li>monitoring traffic and conversion patterns through our various product and service offerings on the Web Sites. For example, web beacons</li>
			<li>may be integrated into a merchandise product page as well as the subsequent shopping cart, transaction and verification pages.</li>
			<li>personalizing your experience when you visit the Web Sites, including the advertising and content you see.</li>
			<li>determining whether or not messages were opened, links were clicked or notifications/offers were acted upon.</li>
		</ul>
		<h3>3. DATA STORAGE.</h3>
		<p>
			54footy uses third party vendors and hosting partners to provide the necessary hardware,credit card processing, software, networking, storage and related technology required to run the website. 54footy owns the code, databases and all rights to therein. 54footy incorporates reasonable safeguards to help protect and secure your personal information. However, no data transmission over the Internet, or wireless transmission, or electronic storage of information can be guaranteed to be 100% secure. Please note that 54footy cannot ensure or warrant the security of any information you transmit to 54footy via its Web Sites, and you do so at your own risk. The Web Sites are general audience web sites. We do not knowingly collect any personal information from children younger than the age of thirteen (13) on the Web Sites and we will delete any information later determined to be from a user younger than thirteen (13).
		</p>
		<h2>4. DISCLOSURE.</h2>
		<p>54footy may disclose personally identifiable information under special circumstances, such as to comply with subpoenas, court orders, legal process or other valid law enforcement measures; to comply with a legal obligation; at the request of governmental authorities conducting an investigation; to verify or enforce compliance with the policies governing the Web Sites and applicable laws; to protect the legal rights, interests, or safety of the Web Sites, our users or others; or when your actions violate the 54footy’ Terms of Service. Such disclosures may be carried out without notice to you.</p>
		<h2>5. THIRD PARTY AD NETWORKS.</h2>
		<p>The Web Sites may use third party network advertisers to serve advertisements on the Web Sites and may use a traffic measurement service to analyze traffic on the Web Sites. Network advertisers are third parties that display advertisements based on your visits to the Web Sites and other web sites you have visited. Third-party ad serving enables us to target advertisements to you for products and services in which you might be interested. Although advertisers and other companies do not have access to cookies set by the Web Sites, the Web Sites’ third party ad network providers, the advertisers, the sponsors, and/or traffic measurement services may themselves set and access their own cookies on your computer if you choose to have cookies enabled in your browser. These third party cookies are set to, among other things, help deliver advertisements to you that you might be interested in, to prevent you from seeing the same advertisements too many times and to conduct research regarding the usefulness of certain advertisements are to you. Note that any images (or any other parts of a web page) served by third parties in association with third party cookies may serve as web beacons, which enable third parties to carry out the previously described activities. Third party cookies and web beacons are governed by each third party’s specific privacy policy, not this one.
		</p>
		<h2>6. THIRD PARTY CONTENT AND LINKS TO OTHER WEB SITES.</h2>
		<p>When you are on the Web Sites you may be directed to other sites that are operated and controlled by third parties that are beyond our control. For example, if you “click” on an ip address in your dashboard stats section, the “click” may take you off the Web Sites onto a different web site. This includes links from advertisers, sponsors and partners that may use the Web Sites’ logo as part of a co-branding agreement. These other web sites may send their own cookies to you, independently collect data or solicit personal information and may or may not have their own published privacy policies. If you visit a web site that is linked from our Web Sites, you should consult that web site’s privacy policy before providing any personal information.</p>
		<h2>7. CHANGES.</h2>
		<p>54footy may periodically update this policy. By using the Web Sites, you acknowledge your agreement to the terms of this Privacy Policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the email address specified in your 54footy membership account or by placing a prominent notice on our site.</p>
		<h2>8. QUESTIONS.</h2>
		<p>Any questions about this Privacy Policy should be addressed tony@54footy.com</p>
	</div>
</div>
