// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dasboard-listing {
	list-style:none;
}
.dash-thumb {
	width: 160px;
	height: 90px;
}
.dash-game-list {
	border-bottom:  solid 1px #AEAEAE;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.admin-dash-functions {
	text-align: right;
	list-style:none;
}