// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-example {
	height: 285px;
}
.dash-thumb {
	width: 160px;
	height: 90px;
}
.dash-game-list {
	border-bottom:  solid 1px #AEAEAE;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.col-md-upgrade-custom {
	margin-left: 12.666666666666664%;
}

@media (max-width: 992px){
	.col-md-upgrade-custom{
	  margin-left: 0px;
	}	
}
.well-other-soccer-expenses {
	opacity: .4;
	height:245px; 
	text-align:center;
	min-height: 20px;
	padding-top: 40px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #262626;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);        
}
.well-upgrade {
	height:245px; 
	text-align:center;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: white;
	border: 2px solid #980300;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);        
}
.well-upgrade:hover {
	background-color: #f9f9f9;
}

.btn-success:hover{  
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.upgrade-logo {
	height: 85px;
	width: 75px;
}
#stat-list {
	list-style: none;
}