// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, {
	font-family: 'Open Sans', sans-serif;
}
#main-headline {
	font-size: 3.10em;
	line-height: 45px;
	
}
.front_contact {
	color: white;
	font-weight: bold;
}

.btn-marketing {
  color: #5cb85c;
  background-color: white;
  border-color: white;
}

.btn-marketing:hover,
.btn-marketing:focus,
.btn-marketing:active,
.btn-marketing.active,
.open .dropdown-toggle.btn-warning {
  color: white;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

#player-feature-signup {
	letter-spacing: .5px;
	padding-top: 5px;
}
.feature-link {
	color: white;
}
.feature-link {
	
}