// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-it {
	text-align:center;
}

.video-description {
	padding-left: 5px;
	margin-top: 10px;
	text-align:left;
}
.explainer-text {
	font-style:italic;
	font-size: 80%;
}

.card-wrapper {
	background:#EEF0F1; 
	margin-left:15px;
	border-radius: 5px;
	border-bottom: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
}
.favorite-button {
	margin-top:10px;
	margin-bottom:15px;
}