<div class="row">
	<div class="col-md-offset-3 col-md-6 well">
		<p>Thanks for your payment! Your annual subscription payment of <strong>$170.00</strong> has gone through. You will receive an email receipt shortly.</p>
		<p>Your next payment is scheduled for 1 year from today and we'll send you a reminder on <strong><%= subscription_helper %></strong> that this payment is coming up. Cancel anytime.</p>
		<p>Now what? Head  <%= link_to "back to your dashboard", dashboard_path %> and get the looks from collge coaches that you deserve. </p>
	</div>
</div>
