<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Start my annual subscription: $170.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="$170/year subscription to 54footy"
          data-amount="17000"
		  data-image="http://placehold.it/10x10"
		  data-name="54footy"
		  data-email="<%= current_club_player.email %>"
		  data-label="Start my 54footy subscription"
		  data-zip-code="true"></script>
<% end %>